@using BlazorView.Pages.Components
@using BlazorView.Data
@using Newtonsoft.Json

@inject FetchUserFromDb UserListingService

@page "/"

<PageTitle>Index</PageTitle>

<div class="contentWrapper">
    <h1>ANGSTFRI JOBBSØKING</h1>

    <picture>
        <img src="img/LETT-5.png" class="logo" />
    </picture>
    <p>@counter</p>
    <p>@showSearch</p>
    <p>@searchValue</p>
    <EditForm Model="@searchModel" class="searchForm">
        <input type="text" placeholder="Søk her" @bind-value="searchValue" @bind-value:event="oninput" />
        <button @onclick="searchPress">Søk</button>
    </EditForm>
    <p>@loggedInUser.Name</p>
   
    @if (showSearch)
    {
        <section class="listings">
            <FetchListings SearchValue="@searchValue.ToUpper()" />
        </section>
    }
</div>


@code{
    [CascadingParameter]
    public LoggedInUserService? loggedInUser { get; set; }

    int counter;
    bool showSearch = false;

    /// <summary>
    /// Used by EditForm
    /// </summary>
    private class SearchModel
    {
        public SearchModel()
        {
        }
    }
    private SearchModel searchModel = new();

    // Value of search field
    string? searchValue = "";

    /// <summary>
    /// Method being used when search button is pressed.
    /// </summary>
    private void searchPress()
    {
        counter++;
        showSearch ^= true;
    }

    //Interests
    string? interestsFromDb;
    IEnumerable<Interest> interests = new List<Interest>();
    List<string> commonInterests = new List<string>();

    //Uninterests
    string? uninterestsFromDb;
    IEnumerable<Interest> uninterests = new List<Interest>();
    List<string> commonUninterests = new List<string>();

    //Users
    IEnumerable<User> users = new List<User>();
    string usersFromDb;
    /*
    protected override async Task OnInitializedAsync()
    {
        
        usersFromDb = await UserListingService.FetchUser();
        users = JsonConvert.DeserializeObject<IEnumerable<User>>(usersFromDb);
        if (loggedInUser.Name == null)
        {
            loggedInUser.Name = users.First().Name;
            loggedInUser.Id = users.First().Id;
        }
   
        // Interests
        interestsFromDb = await UserListingService.FetchInterest();
        interests = JsonConvert.DeserializeObject<IEnumerable<Interest>>(interestsFromDb);

        foreach (var item in interests)
        {
            if (item.userGuid == loggedInUser.Id)
            {
                commonInterests.Add(item.advertisementUuid);
            }
        }
        loggedInUser.interests = commonInterests;

        // Uninterests
        uninterestsFromDb = await UserListingService.FetchUninterest();
        uninterests = JsonConvert.DeserializeObject<IEnumerable<Interest>>(uninterestsFromDb);

        foreach (var item in uninterests)
        {
            if (item.userGuid == loggedInUser.Id)
            {
                commonUninterests.Add(item.advertisementUuid);
            }
        }
        loggedInUser.uninterests = commonUninterests;

    }

        */
}