@page "/userpreference"
@using BlazorView.Data
@using Newtonsoft.Json
@using BlazorView.Pages.Components

@inject FetchUserFromDb UserListingService
@inject ILogger<UserPreference> Logger
<section class="userPrefSection" id="userPrefLoggedOnUser">
    <h3>Bruker:</h3>
    @if (ShowUsers)
    {
        <GetUser />
    }

    <h5>
        Pålogget bruker: @LoggedInUserService.Name
    </h5>


    <EditForm Model="_formModel">
        <h5>Legg til ny bruker:</h5>

        <input type="text" @bind-value="Name" @bind-value:event="oninput" />
        <button @onclick="SubmitUser">Legg til bruker</button>
    </EditForm>

</section>


<section class="userPrefSection">
    <button @onclick="@ShowLikedListingsButtonPress" class="sectionButton">Stillinger som er markert som likt</button>

    @if (_showLikedListings)
            {
             <div class="showSectionDiv">
                <ShowLikedListings />
             </div>
            }
</section>


<section class="userPrefSection">
    <button @onclick="@ShowNotLikedListingsButtonPress" class="sectionButton">Stillinger som er markert som ikke likt</button>
    @if (_showNotLikedListings)
    {
        <div class="showSectionDiv">
            <ShowNotLikedListings />
            </div>
            }
    </section>

<section class="UserPrefSection">
    <button @onclick="@ShowPrefLocations" class="sectionButton">Prefererte søkesteder</button>
    @if (_showLocations)
    {
        <div class="showSectionDiv">
            <ShowLocations ShowAllLocations="@LocationSelected" />
        </div>

    }

</section>


        @code {



            private bool _showLocations = false;
            private bool _showLikedListings = false;
            private bool _showNotLikedListings = false;

            private class FormModel
            {
                public FormModel()
                {
                }
            }

            /*
            Post user to db
            */
            FormModel _formModel = new();
            string Name;
            bool ShowUsers = true;
            private async Task SubmitUser()
            {
                Logger.LogInformation("Submitting user with name: {0} to be saved to Database, time: {time}", Name, DateTimeOffset.Now);
                ShowUsers = false;

                User User = new User();
                User.Name = Name;
                UserListingService.PostUser(User);
                await Task.Delay(5);
                ShowUsers = true;

            }

            private async Task LocationSelected()
            {
                _showLocations = false;
                await Task.Delay(5);
                _showLocations = true;
            }

            private void ShowLikedListingsButtonPress()
            {
                _showLikedListings ^= true;
            }

            private void ShowNotLikedListingsButtonPress()
            {
                _showNotLikedListings ^= true;
            }
            private void ShowPrefLocations()
            {
                _showLocations ^= true;
            }
        }

